<footer id="footer">
	<section>
		<form method="post" action="#">
			<div class="fields">
				<div class="field">
					<label for="name">Name</label>
					<input type="text" name="name" id="name" />
				</div>
				<div class="field">
					<label for="email">Email</label>
					<input type="text" name="email" id="email" />
				</div>
				<div class="field">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="3"></textarea>
				</div>
			</div>
			<ul class="actions">
				<li><input type="submit" value="Send Message" /></li>
			</ul>
		</form>
	</section>
	<section class="split contact">
		<section class="alt">
			<h3>Address</h3>
			<p>{{ .Site.Params.contact.address | safeHTML }}</p>
		</section>
		<section>
			<h3>Phone</h3>
			<p><a href="#">{{ .Site.Params.contact.phone }}</a></p>
		</section>
		<section>
			<h3>Email</h3>
			<p><a href="mailto:{{ .Site.Params.contact.email }}">{{ .Site.Params.contact.email }}</a></p>
		</section>
		<section>
			<h3>Social</h3>
			<ul class="icons alt">
				{{ with .Site.Params.social.twitter }}
				<li><a href="{{ . }}" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
				{{ end }}
				{{ with .Site.Params.social.facebook }}
				<li><a href="{{ . }}" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
				{{ end }}
				{{ with .Site.Params.social.instagram }}
				<li><a href="{{ . }}" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
				{{ end }}
				{{ with .Site.Params.social.github }}
				<li><a href="{{ . }}" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
				{{ end }}
			</ul>
		</section>
	</section>
</footer>